global
    maxconn 2048
    tune.bufsize 8192
    tune.recv_enough 4

defaults
    mode tcp
    timeout connect 100ms
    timeout client 5s
    timeout server 5s
    option splice-auto

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server app1 unix@/sockets/api1.sock
    server app2 unix@/sockets/api2.sock
