global
    nbthread 1
    maxconn 4096
    tune.bufsize 4096

defaults
    mode tcp
    timeout connect 100ms
    timeout client 5s
    timeout server 5s
    option splice-auto

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server app1 /sockets/app1.sock maxconn 1024
    server app2 /sockets/app2.sock maxconn 1024
