global
    daemon
    maxconn 1024

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:9999
    default_backend app

backend app
    balance roundrobin
    server app1 app1:9999 check
    server app2 app2:9999 check
